version: '2'
volumes:
  elasticsearch:
  redis:
  postgres:
services:
  elasticsearch:
    build: ./elasticsearch
    ports:
      - "9200:9200"
    environment:
      - "discovery.type=single-node"
      - "transport.host=127.0.0.1"
      - "xpack.security.enabled=false"
      - "ALEGRE_URL=http://alegre:5000"
    volumes:
      - "elasticsearch:/usr/share/elasticsearch/data"
  kibana:
    image: docker.elastic.co/kibana/kibana:6.3.0
    ports:
      - "5601:5601"
    environment:
      - "ELASTICSEARCH_URL=http://elasticsearch:9200"
  redis:
    image: redis:5
    ports:
      - "6379:6379"
    volumes:
      - "redis:/data"
  postgres:
    image: postgres:9.5
    ports:
      - "5432:5432"
    volumes:
      - "postgres:/var/lib/postgresql/data"
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_DB=alegre"
  alegre:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ".:/app"
    depends_on:
      - postgres
      - kibana
      - redis
    env_file:
      - .env_file
    environment:
      - "BOILERPLATE_ENV=dev"
