version: '2'
volumes:
  elasticsearch:
  redis:
  postgres:
services:
  elasticsearch:
    build: ./elasticsearch
    ports:
      - "9200:9200"
    environment:
      discovery.type: single-node
      transport.host: 127.0.0.1
      xpack.security.enabled: "false"
    volumes:
      - "elasticsearch:/usr/share/elasticsearch/data"
  kibana:
    image: docker.elastic.co/kibana/kibana:7.9.2
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
  redis:
    image: redis:5
    ports:
      - "6379:6379"
    volumes:
      - "redis:/data"
  postgres:
    image: postgres:11
    ports:
      - "5432:5432"
    volumes:
      - "postgres:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: alegre
  model_multi_sbert:
    build: .
    command: ["make", "run_model"]
    volumes:
      - ".:/app"
    depends_on:
      - redis
    env_file:
      - .env_file
    environment:
      MODEL_CLASS: MultiSbert
      MODEL_KEY: multi-sbert
      MODEL_OPTIONS: '{"model_url": "https://meedan-models-live.s3-eu-west-1.amazonaws.com/distiluse-base-multilingual-cased.zip", "model_name": "distiluse-base-multilingual-cased"}'
  xlm_r_bert_base_nli_stsb_mean_tokens:
    build: .
    command: ["make", "run_model"]
    volumes:
      - ".:/app"
    depends_on:
      - redis
    env_file:
      - .env_file
    environment:
      MODEL_CLASS: XlmRBertBaseNliStsbMeanTokens
      MODEL_KEY: xlm-r-bert-base-nli-stsb-mean-tokens
      MODEL_OPTIONS: '{"model_name": "xlm-r-bert-base-nli-stsb-mean-tokens"}'
  indian_sbert:
    build: .
    command: ["make", "run_model"]
    volumes:
      - ".:/app"
    depends_on:
      - redis
    env_file:
      - .env_file
    environment:
      MODEL_CLASS: IndianSbert
      MODEL_KEY: indian-sbert
      MODEL_OPTIONS: '{"model_url": "https://meedan.github.io/research/models/indian-sbert.zip", "model_name": "meedan/indian-sbert"}'
  alegre:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ".:/app"
    depends_on:
      - postgres
      - kibana
      - redis
      - model_multi_sbert
      - xlm_r_bert_base_nli_stsb_mean_tokens
      - indian_sbert
    env_file:
      - .env_file
