config = LogStashLogger.configure do |config|
  config.customize_event do |event|
    event["PRODUCT"] = ENV['PRODUCT'] || 'bridge'
    event["APP"] = ENV['APP'] || 'nlp'
    event["DEPLOYMENT"] = ENV['DEPLOYMENT'] || ENV['RAILS_ENV'] || 'uninitialized'      
  end
end