development: &default
  secret_token: somethingsecret
  dysl: /home/ccx/work/dysl
  glossary_index: glossary_mlg
  glossary_type: glossary
  elasticsearch_server: localhost
  elasticsearch_port: 9200
  glossary_index_old: glossary_old
  elasticsearch_server_old: localhost
  elasticsearch_port_old: 9200
  lang_with_analyzer: ['ar', 'hy', 'eu', 'pt', 'bg', 'ca', 'zh', 'cs', 'da', 'nl', 'en', 'fi', 'fr', 'gl', 'de', 'el', 'hi', 'hu', 'id', 'ga', 'it', 'lv', 'no', 'fa', 'pt', 'ro', 'ru', 'ckb', 'sp', 'sv', 'tr', 'th'] 
  babelfy_key: babelfysecretkey
  langcodes: ['EN','PT','AR','ES','ID','HI','FA','TL','TR','ZH']

test:
  <<: *default

production:
  <<: *default
